.header h1{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

#form {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

button {
    display: flex;
    justify-content: center;
    margin: auto;
}

form fieldset, #submit-btn{
    width: 50%;
    margin-top: 5px;
}

#name, #email, #message {
    display: flex;
    margin-top: 5px;
}

label, textarea{
    margin: auto 5px;
    width: 100%;
    margin-bottom: 1rem;
}

input {
    margin:auto;
    width: 100%;
}

input.error, textarea.error {
    border: 1px solid red;
}

.error{
    color: red;
    font-size: 0.9rem;
}